<% include _header %>

<script>
	$(function () {
		var socket = io();

		$('#chat').click(function () {
			var m = $('#m').val();
			var name = $('#name').val();
			var msg = [ m, name ];
			socket.emit('chat message', msg);
			$('#m').val('');
			return false;
		});
		$('#code').on('input', function () {
			var code = $('#code').val();
			socket.emit('code', code);
		});
		socket.on('chat message', function (fullMsg) {
			$('#messages').append($('<li>').text(fullMsg));
		});
		socket.on('code', function (code) {
			$('#viewCode').text(code);
		});
	});
</script>

<% if (board.name() === visiter && board.saved) { %>

<h3 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Title : <%= board.title %></h3>
<h4>Writer : <%= board.writer %></h4>
<hr />
<h3>Watch Code</h3>
<br>
<pre><code><div id="viewcode" style="height: 1200px; width: 1100px; overflow: auto; white-space: pre;"><%= board.code %>
</div></code></pre>
<br>
<hr>
<h3>Writer Comment</h3>
<br>
<pre><code class="nohighlight"><div id="viewExp" style="height: 400px; width: 1100px; overflow: auto; white-space: pre;"><%= board.explanation %>
</div></code></pre>
<br>
<form action="/board/<%= board.title %>" method="post">
	<input type="submit" class="btn btn-primary pull-right" value="Edit" />
	<a href="/delete/<%= board.title %>" class="btn btn-primary pull-left">Delete</a>
</form>
<br>
<h3>Comments</h3>
<hr>
<% if (board.comment.length > 0) { %>
	<% var commentsList = board.comment; %>
	<% for (var i = 0; i < commentsList.length; i++) { %>
		<div>
		<div><%= commentsList[i].name %> / <%= commentsList[i].date %></div>
		<div><%= commentsList[i].memo %></div>
		<hr>
		</div>
	<% } %>
<% } else { %>
	<div><h4>There's no comment yet.</h4></div>
<% } %>
<br>
<form action="/board/<%= board.title %>" method="post">
	<input id="comment" autocomplete="off" type="text" class="form-control" placeholder="Comment" name="comment" style="display: inline; width: 900px; float: left;">
	<input type="submit" value="Comment" class="btn btn-primary" style="float: left;">
</form>
<br>

<% } else if (board.name() !== visiter && board.saved) { %>

<h3 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Title : <%= board.title %></h3>
<h4>Writer : <%= board.writer %></h4>
<hr />
<h3>Watch Code</h3>
<br>
<pre><code><div id="viewcode" style="height: 1200px; width: 1100px; overflow: auto; white-space: pre;"><%= board.code %>
</div></code></pre>
<br>
<hr>
<h3>Writer Comment</h3>
<br>
<pre><code class="nohighlight"><div id="viewExp" style="height: 400px; width: 1100px; overflow: auto; white-space: pre;"><%= board.explanation %>
</div></code></pre>
<br>
<h3>Comments</h3>
<hr>
<% if (board.comment.length > 0) { %>
	<% var commentsList = board.comment; %>
	<% for (var i = 0; i < commentsList.length; i++) { %>
		<div>
		<div><%= commentsList[i].name %> / <%= commentsList[i].date %></div>
		<div><%= commentsList[i].memo %></div>
		</div>
		<hr>
	<% } %>
<% } else { %>
	<div><h4>There's no comment yet.</h4></div>
<% } %>
<br>
<form action="/board/<%= board.title %>" method="post">
	<input id="comment" autocomplete="off" type="text" class="form-control" placeholder="Comment" name="comment" style="display: inline; width: 900px; float: left;">
	<input type="submit" value="Comment" class="btn btn-primary" style="float: left;">
</form>
<br>

<% } %>

<% if (board.name() === visiter && !board.saved) { %>

<h3 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Title : <%= board.title %></h3>
<h4>Writer : <%= board.writer %></h4>
<hr />
<form action="/board/<%= board.title %>" method="post">
	<h3>Write Your Code!</h3> 
    <textarea id="code" name="code" style="height: 1200px; width: 960px; overflow: auto;" required>
    <% if(board.code) { %>
        <%= board.code %>
    <% } %>
    </textarea>
	<br>
	<hr>
	<br>
	<h3>What is your code?</h3>
	<textarea id="explanation" name="explanation" style="height: 400px; width: 960px; overflow: auto;" required>
    <% if(board.explanation) { %>
        <%= board.explanation %>
    <% } %>
    </textarea>
	<br>
    <input type="submit" class="btn btn-primary pull-right" value="Save" />
	<a href="/delete/<%= board.title %>" class="btn btn-primary pull-left">Delete</a>
</form>
<br>
<h2>Chat</h2>
<div style="width: 930px; height: 200px; overflow: auto;">
	<ul id="messages">
	</ul>
</div>
<select id="name" style="display: none;">
	<option value="<%= visiter %>"></option>
</select>
<input id="m" autocomplete="off" type="text" class="form-control" placeholder="Chat" name="chat" style="display: inline; width: 900px; float: left;">
<button id="chat" class="btn btn-primary" style="float: left;">Send</button>
<br>
<br>
<hr>
<h3>Watch Code</h3>
<br>
<pre><code><div id="viewCode" style="height: 1200px; width: 1100px; overflow: auto; white-space: pre;">
</div></code></pre>

<% } else if (board.name() !== visiter && !board.saved) { %>

<h3 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Title : <%= board.title %></h3>
<h4>Writer : <%= board.writer %></h4>
<hr />
<h3>Watch Code</h3>
<br>
<pre><code><div id="viewCode" style="height: 1200px; width: 1100px; overflow: auto; white-space: pre;">
</div></code></pre>
<br>
<h2>Chat</h2>
<div style="width: 930px; height: 200px; overflow: auto;">
	<ul id="messages">
	</ul>
</div>
<select id="name" style="display: none;">
	<option value="<%= visiter %>"></option>
</select>
<input id="m" autocomplete="off" type="text" class="form-control" placeholder="Chat" name="chat" style="display: inline; width: 900px; float: left;">
<button id="chat" class="btn btn-primary" style="float: left;">Send</button>
<br>
<br>

<% } %>

<% include _footer %>